

:root {
  --color-background: var(--redBackground);
  --color-background-soft: var(--);
  --color-background-mute: var(--);

  --color-button: var(--ButtonColor);
  --color-button-hover: var(--);

  --color-heading: var(--headerFont);
  --color-text: var(--textFont);

  --section-gap: 160px;


}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

#app {
  max-width: 1920px;
  margin: 0 auto;
  font-weight: normal;
}

main {
  max-width: 1640px;
  margin: 0 auto;
}

p{
  color: black;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  body {
    font-size: 15px;
  }

  main {
    padding: 0.5rem;
  }
}


